@keyframes pulsate {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  to {
    transform: scale(1.3);
    opacity: 0;
  }
}

.about {
  background-color: #0a2850;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.about__title {
  margin: 100px 0 0 80px;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  z-index: 1;
  position: relative;
  max-width: 251px;
}

.about__content {
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif";
  max-width: 660px;
  margin: 119px 80px 173px;
  z-index: 1;
  position: relative;
}

.about__paragraph {
  margin: 0 0 20px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 0;
}

.about__circle_animation_blurred {
  animation: pulsate ease-in-out 1.3s infinite;
}
